/* Dialog CSS */

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

dialog {
  padding: 10px;
  position: relative;

  background-color: #f8f8f8;
  text-align: center;

  color: #333333;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 18px;
  font-weight: normal;
    
  border: 2px solid #00cccc;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 1px 1px 2px #333333;
}
        
dialog[open] {
  animation: fade 0.3s ease 0s 1 normal;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.dialog-content {
  margin: 0px;
  padding: 0px;

  display: block;

  /* border: 1px solid #f00;
  box-sizing: border-box; */
}

.dialog-content button {
  margin: 10px 10px;
  padding: auto 10px;

  font-size: 12pt;
  text-align: center;
}

h2 {
  width: 100%;
  margin: 0px auto 20px auto;
  padding: 10px 20px;

  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 18pt;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

p {
  width: 100%;
  margin: 0px auto 20px auto;
  padding: 10px 20px;
}

/* 引数ダイアログ */
#arg1 {
  width: 100%;
  height: 100px;
  margin: 0px;
  padding: 10px 20px;

  text-align: left;
}

#arg2 {
  width: 100%;
  height: 100px;
  margin: 0px;
  padding: 10px 20px;
  
  text-align: left;

  display: none;
}

.argName {
  margin: 0px;
  padding: 0px;
}

.argDescription {
  color: #888888;
}

input.argInput {
  margin: 10px 10px;

  padding: 3px 10px;
  display: inline-block;

  background: #ffffff;

  color: #333333;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 12pt;
  font-weight: normal;
  text-align: right;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;

  border: 1px solid #333333;
  border-radius: 5px;
}

/* 警告ダイアログ */
#dialogAlert {
  min-width: 20%;
  max-width: 50%;
}

