/* Dialog CSS */

/* #dialog {
  display: none;
} */

/* #dialogBackground {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: #333333;

  opacity: 0.5;
} */

/* #dialogMain {
  position: absolute;

  left: 50%;
  top: 50%;
  width: 420px;
  height: 280px;
  margin-left: -200px;
  margin-top: -100px;
  background-color: #f8f8f8;
  text-align: center;

  color: #333333;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 18px;
  font-weight: normal;
    
  border: 2px solid #00cccc;
  box-sizing: border-box;
  border-radius: 10px;
} */

/* #dialogContent {
  position: relative;

  width: 100%;
  height: 100%;

  margin: 0px;
  padding: 0px;
} */

/* #dialogMsg {
} */

#arg1 {
  width: 100%;
  height: 100px;
  margin: 0px;
  padding: 10px 20px;

  text-align: left;

  /* border: 1px solid #ff0000;
  box-sizing: border-box; */
}

#arg2 {
  width: 100%;
  height: 100px;
  margin: 0px;
  padding: 10px 20px;
  
  text-align: left;

  display: none;

  /* border: 1px solid #ff0000;
  box-sizing: border-box; */
}

#dialogButton {
  position: absolute;

  bottom: 0px;

  width: 100%;
  height: 50px;

  margin: auto;
  display: block;

  text-align: center;

  /* border: 1px solid #ff0000;
  box-sizing: border-box; */
}

.argName {
  margin: 0px;
  padding: 0px;
}

.argDescription {
  color: #888888;
}

input.argInput {
  margin: 10px 10px;

  padding: 3px 10px;
  display: inline-block;

  background: #ffffff;

  color: #333333;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 12pt;
  font-weight: normal;
  text-align: right;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;

  border: 1px solid #333333;
  border-radius: 5px;
}

input.button {
  width: 100px;
  height: 30px;

  margin: 10px;
  padding: 3px 10px;

  display: inline-block;

  background: #ffffff;

  color: #333333;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 12pt;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  
  border: 1px solid #333333;
  border-radius: 5px;
}



@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

dialog {
  padding: 0px;
  position: relative;

  background-color: #f8f8f8;
  text-align: center;

  color: #333333;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 18px;
  font-weight: normal;
    
  border: 2px solid #00cccc;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 1px 1px 2px #333333;
}
        
dialog[open]{
  animation: fade 0.3s ease 0s 1 normal;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

dialog h2 {
  padding: 10px;
  background-color: #B2EBF2;
  margin: 0;
  color: #FF8A65;
}

#close{
  margin: 10px auto 20px auto;
  padding: auto 10px;

  color: #ff0099;
  background: #00cccc;
  font-size: 12pt;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;

  border: 2px solid #00cccc;
  border-radius: 10px;
  box-shadow: 0px 1px 3px #333333;
}
        
.dialog-content{
  /* display: flex; */
  display: block;
}
