
button {
  margin-bottom: 20px;
  padding: 5px 10px;
  color: #ff0099;
  background: #00cccc;

  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 18pt;
  font-weight: bold;
  text-align: left;
  text-decoration: none;
  white-space: nowrap;

  border: 2px solid #00cccc;
  border-radius: 10px;
  box-shadow: 0px 1px 3px #333333;
}

#controller button::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0px 10px 0 0;
  padding: 0;
  vertical-align: middle;
}

button:hover {
  opacity: 0.7;
  transition: 0.3s ease-out;
}


/* ファイル読込ボタン */
input[type="file"] {
  display: none;
}

label#lblLoadProgram {
  position: relative;
  margin-bottom: 20px;
  padding: 5px 10px;
  color: #ff0099;
  background: #00cccc;

  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 18pt;
  font-weight: bold;
  text-align: left;
  text-decoration: none;
  white-space: nowrap;

  border: 2px solid #00cccc;
  border-radius: 10px;
  box-shadow: 0px 1px 3px #333333;
}

label#lblLoadProgram:hover {
  opacity: 0.7;
  transition: 0.3s ease-out;
}

label#lblLoadProgram::after {
  position: absolute;
  top: 60px;
  right: 0px;

  width: 100%;
  height: 200px;

  content: "選択されていません";

  display: none;

  color: #333;
  font-size: 14pt;
  font-weight: normal;
}

label#lblLoadProgram::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  vertical-align: middle;
}

label#lblLoadProgram::changed::after {
  content: "";
}

#btnLoadProgram label.filename {
  font-size: 14pt;
}


#btnConnect {
  width: calc(50% - 10px);
  margin-right: 20px;

  float: left;
}

#btnConnect::before {
  background: url("../img/button/connect001.png") no-repeat;
  background-size: contain;
}

#btnConnect.connected::before {
  background: url("../img/button/connect002.png") no-repeat;
  background-size: contain;
}

#btnDownload {
  width: calc(50% - 10px);
  margin-right: 0px;

  float: left;
}

#btnDownload::before {
  background: url("../img/button/download.png") no-repeat;
  background-size: contain;
}

#btnSaveProgram {
  width: calc(50% - 10px);
  margin-right: 20px;

  float: left;
}

#btnSaveProgram::before {
  background: url("../img/button/save.png") no-repeat;
  background-size: contain;
}

#lblLoadProgram {
  width: calc(50% - 10px);

  float: left;
}

label#lblLoadProgram::before {
  background: url("../img/button/load.png") no-repeat;
  background-size: contain;
}



/* リモートコントロールボタン */
#remote-controller button {
  position: absolute;
  width: calc((100% - 20px) / 3);
  height: 50px;

  text-align: center;
}

#btnTurnLeft {
  top: 30px;
  left: 0px;
}

#btnForward {
  top: 0px;
  left: calc(((100% - 20px) / 3) + 10px);
}

#btnBackward {
  top: 60px;
  left: calc(((100% - 20px) / 3) + 10px);
}

#btnTurnRight {
  top: 30px;
  right: 0px;
}

