
a.button {
  margin-bottom: 20px;
  padding: 5px 10px;
  display: block;
  color: #ff0099;
  background: #00cccc;

  font-size: 18pt;
  font-weight: bold;
  text-align: left;
  text-decoration: none;
  white-space: nowrap;

  border: 2px solid #00cccc;
  border-radius: 10px;
  box-shadow: 0px 1px 3px #333333;
}

a.button::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0px 10px 0 0;
  vertical-align: middle;
}

a.button:hover {
  opacity: 0.7;
  transition: 0.3s ease-out;
}



input[type="file"] {
  display: none;
}

label#lblLoadProgram {
  position: relative;

  margin: 0;
  padding: 5px 10px;
  display: block;
  color: #ff0099;
  background: #00cccc;

  font-size: 18pt;
  font-weight: bold;
  text-align: left;
  text-decoration: none;
  white-space: nowrap;

  border: 2px solid #00cccc;
  border-radius: 10px;
  box-shadow: 0px 1px 3px #333333;
}

label#lblLoadProgram:hover {
  opacity: 0.7;
  transition: 0.3s ease-out;
}

label#lblLoadProgram::after {
  position: absolute;
  top: 60px;
  right: 0px;

  width: 100%;
  height: 200px;

  content: "選択されていません";

  display: none;

  color: #333;
  font-size: 14pt;
  font-weight: normal;
}

label#lblLoadProgram::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  vertical-align: middle;
}

label#lblLoadProgram::changed::after {
  content: "";
}

#btnLoadProgram label.filename {
  font-size: 14pt;
}


#btnConnect {
  width: calc(50% - 10px);
  margin-right: 20px;

  float: left;
}

a#btnConnect::before {
  background: url("../img/button/connect001.png") no-repeat;
  background-size: contain;
}

a#btnConnect.connected::before {
  background: url("../img/button/connect002.png") no-repeat;
  background-size: contain;
}

#btnDownload {
  width: calc(50% - 10px);

  float: left;
}

a#btnDownload::before {
  background: url("../img/button/download.png") no-repeat;
  background-size: contain;
}

#btnSaveProgram {
  width: calc(50% - 10px);
  margin-right: 20px;

  float: left;
}

a#btnSaveProgram::before {
  background: url("../img/button/save.png") no-repeat;
  background-size: contain;
}

#lblLoadProgram {
  width: calc(50% - 10px);

  float: left;
}

label#lblLoadProgram::before {
  background: url("../img/button/load.png") no-repeat;
  background-size: contain;
}
